version: "3.9"

services:
  nextjs:
    container_name: autologin
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    restart: unless-stopped
